
<div class="container-fluid ">
       <div class="col-md-12  mx-auto">
                
                <div class="card p-4 dashboard">
                  <div class="row">
                    <div class="col-md-6 text-center">
                      <span class="d-block"><a href="/nivadmin/organizations">Organizations</br>{{counts.orgCount}}</a></span>
                    </div>
                    <div class="col-md-6 text-center">
                      <span class="d-block"><a href="/nivadmin/all-profiles">Students<br>{{counts.proCount}}</a></span> 
                    </div>
                  </div>
                </div>
              </div>
         
</div>