<div class="row">
	<div class="col-sm-6 col-lg-6">
		<div class="profile-data-container">
			<div><span>Name</span> <span>:</span><span>{{node.title.value}}</span> </div>
			<div><span>Gender</span> <span>:</span><span>{{node.field_gender.value}}</span> </div>
			<div><span>Age</span> <span>:</span><span>{{node.field_date_of_birth.value}}</span> </div>
		</div>
	</div>
<div class="col-sm-6 col-lg-6"><img src="/themes/custom/niv/images/168724.png" class="profile-img"></div>

</div>



