<div class="row">
<div class="col-sm-12 col-lg-6 blue_bg form-leftSide">
  Login
</div>
<div class="col-sm-12 col-lg-6 form-rightSide">
	<div><a href="/registration/parent">Register</a></div>
  <form {{ attributes }} >
  {{ children }}
  </form>
</div>
</div>