<div class="row">
<div class="col-sm-12 col-lg-6 blue_bg form-leftSide">
  Login
</div>
<div class="col-sm-12 col-lg-6 form-rightSide">
	  <form {{ attributes }} >
  {{ children }}
 
  </form>
   <div class="text-end col-md-12"><a href="/user/password">Forgot password?  </a></div>
  <div class="row" style="margin-top:20px;">
  <div class="text-end col-md-12">New to NIV? <a href="/registration/parent">Sign Up</a></div>
  </div>
  
</div>
</div>