
<div class="row">
<div class="col-sm-12 col-lg-6 blue_bg form-leftSide">
  Registration
</div>
<div class="col-sm-12 col-lg-6 form-rightSide">
<div class="row registration-links">
<div class="col-sm-6 col-lg-6"><a href="/registration/parent" > User</a></div>
<div class="col-sm-6 col-lg-6"><a href="/registration/teacher" >Org</a></div>
</div>
	
  {{form}}
</div>
</div>